@use '../general-styles/colors' as clrs;
@use '../general-styles/typography' as type;
@use '../general-styles/gradients' as grad;

.header {
  &.open {
    .header__toggle {
      > div:first-child {
        transform: rotate(45deg);
      }

      > div:nth-child(2) {
        opacity: 0;
      }

      > div:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  nav {
    padding: 1.0625rem 1.5rem;
  }

  &__logo {
    margin-top: 6px;

    img {
      width: 8.8125rem;
      height: 1.375rem;
      object-fit: none;
    }
  }

  &__links {
    > li {
      display: inline;
      font-size: type.size('sm');
      transition: color 0.2s ease-in-out;
      position: relative;

      &:not(:last-child) {
        margin-right: 1.875rem;
      }

      &:hover {
        color: clrs.primary('dark-blue');
      }

      &::before {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -30px;

        content: '';
        display: block;

        height: 4px;
        background: grad.gradient('primary');
        transition: all 0.2s ease-in-out;
        border-radius: 5px;
        opacity: 0;
      }

      &:hover:before {
        opacity: 1;
      }
    }
  }

  &__toggle {
    > div {
      width: 26px;
      height: 2px;
      background-color: clrs.primary('dark-blue');
      transition: all 0.2s ease-in-out;
      transform-origin: 3px 1px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__cta {
    color: clrs.neutral('white');
    font-weight: type.weight('bold');
    font-size: type.size('sm');
  }
}

.overlay {
  opacity: 0;

  position: fixed;
  top: 3.75rem;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: grad.gradient('overlay-fallback');
}
