*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  background: none;
  border: none;
  color: inherit;
}

html {
  font-size: 100%;
}

body {
  color: hsl(233deg, 8%, 62%);
  font-family: "Public Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.3;
}
body.noscroll {
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  padding: 0.875rem 2.1875rem;
  border-radius: 50px;
  cursor: pointer;
  background: linear-gradient(to right, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  transition: opacity 0.2s ease-in-out;
}
.btn:hover {
  opacity: 0.75;
}

.header {
  position: relative;
}
.header.open .header__toggle > div:first-child {
  transform: rotate(45deg);
}
.header.open .header__toggle > div:nth-child(2) {
  opacity: 0;
}
.header.open .header__toggle > div:last-child {
  transform: rotate(-45deg);
}
.header nav {
  padding-block: 1.0625rem;
}
.header__logo {
  margin-top: 6px;
}
.header__logo img {
  width: 8.8125rem;
  height: 1.375rem;
  object-fit: none;
}
.header__menu {
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 5px;
  position: absolute;
  padding: 1.625rem;
  margin: 1.5rem 1.5rem 0;
  text-align: center;
  width: calc(100% - 3rem);
  font-weight: 400;
}
.header__menu > li {
  color: hsl(233deg, 26%, 24%);
  padding: 0.625rem;
}
.header__links > li {
  display: inline;
  font-size: 0.875rem;
  transition: color 0.2s ease-in-out;
  position: relative;
}
.header__links > li:not(:last-child) {
  margin-right: 1.875rem;
}
.header__links > li:hover {
  color: hsl(233deg, 26%, 24%);
}
.header__links > li::before {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
  content: "";
  display: block;
  height: 4px;
  background: linear-gradient(to right, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  opacity: 0;
}
.header__links > li:hover:before {
  opacity: 1;
}
.header__toggle > div {
  width: 26px;
  height: 2px;
  background-color: hsl(233deg, 26%, 24%);
  transition: all 0.2s ease-in-out;
  transform-origin: 3px 1px;
}
.header__toggle > div:not(:last-child) {
  margin-bottom: 5px;
}
.header__cta {
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
  font-size: 0.875rem;
}

.overlay {
  opacity: 0;
  position: fixed;
  top: 3.75rem;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(hsl(233deg, 26%, 24%), transparent);
}

.has-fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 0.2s ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  animation: fade-out 0.2s ease-in-out forwards;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.container {
  padding-inline: 1.5rem;
}/*# sourceMappingURL=style.css.map */