@use '../general-styles/gradients' as grad;
@use '../general-styles/colors' as clrs;
@use '../general-styles/typography' as type;

.btn {
  background: grad.gradient('primary');
  color: clrs.neutral('white');
  font-weight: type.weight('bold');
  font-size: type.size('sm');
  border-radius: 50px;

  padding: 0.875rem 2.1875rem;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.75;
  }
}
