@use '../general-styles/typography' as type;
@use '../general-styles/colors' as clrs;
@use '../mixins/breakpoints' as *;

body {
  color: clrs.neutral('grayish-blue');
  font-family: 'Public Sans', sans-serif;
  font-size: type.size('sm');
  font-weight: type.weight('light');
  line-height: 1.3;
  overflow: hidden;

  @include breakpoint-up(large) {
    font-size: type.size('n');
  }

  &.noscroll {
    overflow: hidden;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
